@model IEnumerable<Blog.Models.ViewModels.PostViewModel>

@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
	<div class="header">
		<h2>Chomikowe rozmaitości</h2>
	</div>
	<div class="leftcolumn">
		@foreach (var item in Model.OrderByDescending(x => x.CreateDate))
		{
			<div class="card">
				<h2>@Html.DisplayFor(modelItem => item.Title)</h2>

				<h5>@Html.DisplayFor(modelItem => item.CreateDate)</h5>
				@if (@Html.DisplayFor(modelItem => item.ImageData) != null)
				{
					<div style="max-height:200px;"><img style="max-height:200px;" src="@Html.DisplayFor(modelItem => item.ImageData)"></div>
				}
				else
				{ 
					<div class="fakeimg" style="max-height:200px;"></div>
				}
				<br />
				<p>@Html.DisplayFor(modelItem => item.Content)</p>
			</div>
		}
	</div>
	<div class="rightcolumn">
		<div class="card">
			<h2>O mnie</h2>
			<img class="about-me-image" src="~/images/chomik.jpg" />
			<p>Nazywam się Magda. Uwielbiam chomiki, dlatego też chętnie opowiem Wam o nich więcej na moim blogu. Zapraszam do lektury. :)</p>
		</div>
		<div class="card">
			<h3>Popularne posty</h3>
			<div class="fakeimg">Image</div><br>
			<div class="fakeimg">Image</div><br>
			<div class="fakeimg">Image</div>
		</div>
		<div class="card">
			<h3>Znajdź mnie</h3>
			<a href="https://github.com/Zedzian" class="fab fa-github-alt fa-w-15 fa-2x github-link"></a>
		</div>
	</div>
</div>